.main-content {
  margin-top: 64px;
  background-color: #f5f5f5;
  margin-left: 60px;
  min-height: calc(100vh - 64px);
  padding: 45px;
}
.main-content.add-margin {
  margin-left: 240px;
}
.form-sub-heading {
  margin-top: 0;
  border-bottom: 2px solid #000;
  line-height: 1.4;
  padding-bottom: 5px;
  font-size: 24px;
  margin-bottom: 30px;
}
.input-wrapper {
  width: 100%;
  margin-bottom: 20px !important;
}
.client-list .MuiPaper-elevation2 {
  box-shadow: none;
  height: 100%;
}